{% if is_paginated %}
{% load i18n %}
<ul class="c-content-pagination c-square c-theme pull-right pagination">
    {% if page_obj.has_previous %}
        <li class="c-prev">
            <a href="javascript:;" data_info="{{ page }}">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
    {% else %}
{#        <li class="c-prev">#}
{#            <a href="#">#}
{#                <i class="fa fa-angle-left"></i>#}
{#            </a>#}
{#        </li>#}
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="c-active">
                    <a href="javascript:;" data-info="{{ page }}">{{ page }}</a>
                </li>
            {% else %}
                <li>
                    <a href="javascript:;" data_info="{{ page }}" name="page">{{ page }}</a>
                </li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="c-next">
            <a href="javascript:;" data_info="{{ page }}">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    {% else %}
{#        <li class="c-next">#}
{#            <a href="#">#}
{#                <i class="fa fa-angle-right"></i>#}
{#            </a>#}
{#        </li>#}
    {% endif %}
</ul>
{% endif %}