{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                vehicle
                            </h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <form class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.country.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.country }}   </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.country.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.brand.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ car_form.brand }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.brand.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.model.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ car_form.model }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.model.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.model_type.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.model_type }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.model_type.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.model_year.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.model_year }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.model_year.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.model_month.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.model_month }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.model_month.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.price.label }} (&#8364)
                                </label>
                                <div class="col-md-6"> {{ car_form.price }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.price.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.finition.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.finition }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.finition.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.km.label }} (km)
                                </label>
                                <div class="col-md-6"> {{ car_form.km }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.km.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.energy.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.energy }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.energy.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.gear_box.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.gear_box }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.gear_box.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.cylinder.label }} (cm<sup>3</sup>)
                                </label>
                                <div class="col-md-6"> {{ car_form.cylinder }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.cylinder.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.power.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.power }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.power.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.color.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.color }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.color.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.color_inside.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.color_inside }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.color_inside.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.doors.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.doors }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.doors.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.places.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.places }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.places.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.options.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.options }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.options.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ car_form.description.label }}
                                </label>
                                <div class="col-md-6"> {{ car_form.description }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ car_form.description.errors }}</div>
                            <div class="row">
                                {{ car_image_form.management_form }}
                                <div class="col-md-6 col-md-offset-5">
                                    <label class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                                           id="input_label">Add photo</label>
                                </div>
                                {% for form in car_image_form %}
                                    <div id="form_{{ forloop.counter }}" class="col-md-6 col-md-offset-4"
                                         style="display: none">
                                        {{ form }}
                                    </div>
                                {% endfor %}
                                <div class="col-md-6 col-md-offset-4">
                                    <output id="list"></output>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-5">
                                    <button type="submit"
                                            class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                        Submit
                                    </button>
                                    <a href="/"
                                       class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script>
        $('#id_color').autocomplete({
            source: "/vehicles/get_colors/",
        });
        $('#id_color_inside').autocomplete({
            source: "/vehicles/get_colors/",
        });
        $('#id_brand').autocomplete({
            source: "/vehicles/get_brands/",
        });
        $("#id_model").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/vehicles/get_models/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_brand: $("#id_brand").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });


    </script>
    <script type="text/javascript">
        var max_photos = 30;
        var j = 0;
        function Delete(id, counter) {
            del_image = document.getElementById("id_carimage_set-" + counter + "-image");
            del_image.value = "";
            thumb = document.getElementById(id);
            thumb.style.display = "none"
        }
        function hide() {
            label = document.getElementById("input_label");
            label.htmlFor = "id_carimage_set-" + j + "-image";
            j++
        }

        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }


                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        list = document.getElementById('list');
                        span.innerHTML = ['<img class="thumb" id ="thumb_', list.childElementCount, '" onclick="Delete(id,', list.childElementCount, ')" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        list.insertBefore(span, null);
                    };
                })(f);

                // Read in the image file as a data URL.
                bingo = reader.readAsDataURL(f);
            }
        }
        hide()
        for (var i = 0; i < max_photos; i++) {
            document.getElementById('id_carimage_set-' + i + '-image').addEventListener('change', handleFileSelect, false);
        }
    </script>
{% endblock extra_js %}
{% block extra_css %}
    <link rel="stylesheet" media="all" type="text/css"
          href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"/>
    <style>
        .thumb {
            height: 150px;
            width: auto;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        .red {
            color: red;
        }
    </style>
{% endblock extra_css %}