{% load i18n %}
<h2>{% trans "Latest updates" %}</h2>
<p>{% trans "Total" %}: {{ total }}</p><br><br>
{% for item in object_list %}
    <p style="margin-bottom:3em; background-color:#FEF758; padding:2em">
        {% trans "Model" %}: {{ item.brand_index }} {{ item.model_index }}, {{ item.year_index }}.
        {% trans "Price" %}: {{ item.price_index }}.
    </p>
{% endfor %}