{% load i18n %}
<h2>{% trans "Latest updates" %}</h2>
<p>{% trans "Total" %}: {{ total }}</p><br><br>
{% for item in object_list %}
    <a style="margin-bottom:3em; background-color:#FEF758; padding:2em; display:block; forn-size:1.5em"
       href="{{ domain }}{% url 'realty:details' item.object.id %}">
        {{ item.object.get_deal_display|capfirst }}
        {% if item.property_type_type %}
            {{ item.object.property_type_type.name }}
        {% else %}
            {{ item.object.property_type.name }}
        {% endif %}
        {{ item.object.country.name }}
        {% if item.city %} {{ item.object.city.name }} {% endif %}
        {% trans "Price" %}: {{ item.price }}.
    </a>
{% endfor %}