.c-layout-header.c-layout-header-6 .c-topbar .c-brand > .c-logo:after {
  background: none; }

.c-font-uppercase {
  margin-left: 10px; }

.c-layout-sidebar-menu .c-sidebar-menu.collapse {
  border: none; }

.input-number {
  padding: 7px;
  margin: 15px 5px 5px;
  width: 100px; }

#radius-rangefilter {
  width: 200px;
  margin-bottom: -10px; }

.c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
  padding: 10px;
  font-size: 30px; }

.color_faced_box {
  width: 18px;
  height: 18px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  margin-left: 7px;
  margin-bottom: -2px; }

.c-font-16 {
  font-size: 21px; }

.chosen-select-country {
  width: 300px; }

.chosen-container-multi .chosen-choices {
  border-color: #dbdada; }

.marg-r {
  margin-right: 10px; }

.your-loc,
.c-page-breadcrumbs li.chosen-wrapper {
  display: none; }

#locate-me {
  display: block;
  position: absolute; }

.c-page-breadcrumbs > li.your-loc {
  margin-bottom: 20px; }

#subscr-list label {
  cursor: pointer;
  display: block;
  padding-left: 1px; }

#subscr-list label:hover {
  background-color: #E8E7E7;
  border-radius: 3px; }

#radius-step-value {
  min-width: 85px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #AAA 1px; }

.c-padding-20.c-margin-t-40.c-bg-grey-1.c-bg-img-bottom-right.c-sidebar-menu.collapse.sidebar-menu-1 {
  padding: 20px; }

#subscribe-btn {
  display: inline-block;
  vertical-align: top;
  margin: 16px 10px; }

.c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
  padding: 10px; }

.c-layout-header .c-topbar .c-top-menu > .c-icons, .c-layout-header .c-topbar .c-top-menu > .c-links, .c-layout-header .c-topbar .c-top-menu > .c-ext {
  display: inline; }

@media (min-width: 991px) {
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control::-webkit-input-placeholder {
    color: #fff; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control::-moz-placeholder {
    color: #fff; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control:-moz-placeholder {
    color: #fff; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control:-ms-input-placeholder {
    color: #fff; } }

@media (min-width: 540px) {
  .c-layout-header.c-layout-header-6 .c-quick-search {
    display: inline-block;
    width: 51%; } }

@media (max-width: 540px) {
  #subscribe-btn {
    display: block; }
  .c-layout-header.c-layout-header-6 .c-topbar .c-top-menu > .c-links > li {
    margin: 10px 0; }
  .c-layout-header .c-topbar .c-top-menu > .c-links > li.c-divider {
    top: 7px; } }

@media (min-width: 600px) {
  .c-layout-header.c-layout-header-6 .c-quick-search {
    width: 54%; } }

@media (min-width: 768px) {
  .c-layout-header.c-layout-header-6 .c-quick-search {
    display: inline-block;
    width: 63%; } }

@media (max-width: 991px) {
  .c-layout-header.c-layout-header-6 .c-topbar .c-top-menu .c-links {
    float: none; } }

@media (min-width: 1024px) {
  .c-layout-header.c-layout-header-6 .c-quick-search {
    display: inline-block;
    width: 70%; } }

.bar {
  width: 90%;
  margin-top: 3px;
  display: inline-block;
  height: 18px; }

.energy-class-name {
  width: 20px;
  display: inline-block; }

span.bar-wrapper {
  min-width: 65%;
  display: inline-block;
  margin-right: 10px; }

#energy_class_a {
  width: 20%;
  background-color: #03802f; }

#energy_class_b {
  width: 30%;
  background-color: #4f9d2a; }

#energy_class_c {
  width: 40%;
  background-color: #91b41e; }

#energy_class_d {
  width: 50%;
  background-color: #e1d506; }

#energy_class_e {
  width: 60%;
  background-color: #f6e810; }

#energy_class_f {
  width: 70%;
  background-color: #f5a60b; }

#energy_class_g {
  width: 80%;
  background-color: #e54f1f; }

#energy_class_h {
  width: 90%;
  background-color: #df0d1f; }

#energy_class_i {
  width: 100%;
  background-color: #ba011d; }
