{% load staticfiles i18n %}
<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} {{ STATIC_URL }} {% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
          rel='stylesheet' type='text/css'>
    <link href={% static "assets/plugins/socicon/socicon.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/bootstrap-social/bootstrap-social.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/simple-line-icons/simple-line-icons.min.css" %} rel="stylesheet"
          type="text/css"/>
    <link href={% static "assets/plugins/animate/animate.min.css" rel="stylesheet" %} type="text/css"/>
    <link href={% static "assets/plugins/bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href={% static "assets/plugins/cubeportfolio/css/cubeportfolio.min.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/owl-carousel/owl.carousel.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/owl-carousel/owl.theme.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/owl-carousel/owl.transitions.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/fancybox/jquery.fancybox.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/plugins/slider-for-bootstrap/css/slider.css" %} rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN THEME STYLES -->
    <link href={% static "assets/base/css/plugins.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "assets/base/css/components.css" %} id="style_components" rel="stylesheet" type="text/css"/>
    <link href={% static "assets/base/css/themes/default.css" %} rel="stylesheet" id="style_theme" type="text/css"/>
    <!-- END THEME STYLES -->
    {% block extra_css %} {% endblock extra_css %}
    <link href={% static "assets/base/css/custom.css" %} rel="stylesheet" type="text/css"/>
    <!-- START FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "assets/base/img/favicons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "assets/base/img/favicons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "assets/base/img/favicons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/base/img/favicons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "assets/base/img/favicons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "assets/base/img/favicons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "assets/base/img/favicons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "assets/base/img/favicons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/base/img/favicons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static "assets/base/img/favicons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/base/img/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "assets/base/img/favicons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/base/img/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "assets/base/img/favicons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- END FAVICON -->
</head>

<body {% block body_attrs %}
    class="c-layout-header-fixed c-layout-header-6-topbar c-layout-quick-search-shown"
{% endblock body_attrs %}>

{% block header %}
    {% include 'headers/base_header.html' %}
{% endblock header %}

<div class="c-layout-page">
    {% block content %} {% endblock content %}
</div>

{% block footer %}
    {% include 'footers/base_footer.html' %}
{% endblock footer %}

<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
<script src={% static "assets/plugins/jquery.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/jquery-migrate.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/bootstrap/js/bootstrap.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/jquery.easing.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/reveal-animate/wow.js" %} type="text/javascript"></script>
<script src={% static "assets/base/js/scripts/reveal-animate/reveal-animate.js" %} type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src={% static "assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/zoom-master/jquery.zoom.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/owl-carousel/owl.carousel.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/counterup/jquery.waypoints.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/counterup/jquery.counterup.min.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/fancybox/jquery.fancybox.pack.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js" %} type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src={% static "assets/base/js/components.js" %} type="text/javascript"></script>
<script src={% static "assets/base/js/components-shop.js" %} type="text/javascript"></script>
<script src={% static "assets/base/js/app.js" %} type="text/javascript"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src={% static "assets/base/js/modules/url_params.js" %} type="text/javascript"></script>
<script src={% static "assets/base/js/modules/base.js" %} type="text/javascript"></script>
<script src={% static "assets/plugins/wnumb-1.0.2/wNumb.js" %} type="text/javascript"></script>

<script>
    $(document).ready(function () {
        App.init(); // init core
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
<script>
    window.djangoContext = {
        urls: {
            subscribe: "{% url 'users:subscribe_user' %}",
        }
    }
</script>

{% block extra_js %}
{% endblock extra_js %}
<!-- END: PAGE SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->

<div class="modal fade" id="subscribe-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">{% trans "Choose some search filters before subscribe" %}</h3>
            </div>
            <div class="modal-footer c-no-border">
                <button class="btn btn-default c-btn-square cancel"
                        data-dismiss="modal">{% trans "Choose filters" %}</button>
                <button class="btn btn-primary c-btn-uppercase c-btn-square ok" data-dismiss="modal"
                        disabled>{% trans "subscribe me" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="subscribed-mess" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sold">{% trans "You have been subscribed" %}</h3>
                <p>{% trans "You can manage your subscriptions in your profile" %}</p>
            </div>
            <div class="modal-footer c-no-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>