{% load pagination_tags staticfiles thumbnail %}
{% autopaginate object_list 10 %}
{% for result in object_list %}
    {% with i=result.object %}
        <div class="row c-margin-b-40">
            <div class="c-content-product-2 c-bg-white">
                <div class="col-md-4">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a href="{% url "vehicles:car-details" i.id %}" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                            </div>
                        </div>
                        {% thumbnail i.carimage_set.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({{ im.url }});"></div>
                        {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({% static "assets/base/img/cars/sport-car.svg"%});"></div>
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-info-list">
                        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                            <a class="c-theme-link" href="{% url "vehicles:car-details" i.id %}">{{ i.brand.brand_name }} {{ i.model.model_name }}</a>
                        </h3>
                        {% if i.gear_box %}
                            <p class="c-desc c-font-16 c-font-thin"> gear box - {{ i.gear_box }}</p>
                        {% endif %}
                        {% if i.color.color %}
                            <p class="c-desc c-font-16 c-font-thin"> color - {{ i.color.color }}<span style="background: {{ i.color }}" class="color_faced_box" title="{{ i.color }}"></span></p>
                        {% endif %}
                        {% if i.model_year %}
                            <p class="c-desc c-font-16 c-font-thin"> year - {{ i.model_year }}</p>
                        {% endif %}
                        {% if i.km %}
                            <p class="c-desc c-font-16 c-font-thin"> mileage - {{ i.km }} </p>
                        {% endif %}
                        {% if i.country.name %}
                            <p class="c-desc c-font-16 c-font-thin"> country - {{ i.country.name }} </p>
                        {% endif %}
                        {% if i.price %}
                            <p class="c-price c-font-26 c-font-thin">{{ i.price }} &#8364;
                                {% for p in i.price_history %}
                                    <span class="c-font-26 c-font-line-through c-font-red">{{ p }} &#8364;</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% empty %}<p>No results found.</p>{% endfor %}
{#{% paginate %}#}

