<h3 class="c-font-uppercase c-font-bold">Colors</h3>
<div class="c-line-left"></div>
{% for c in colors %}
    <div style="background: {{ c.0 }}" class="color_faced_box" title="{{ c.1 }}" data_info="{{ c.0 }}"></div>
{% endfor %}