{% load common %}
{% load staticfiles i18n %}

<form name="search_form">
    {% for index, values in facets.items %}
        {% if values %}
            <li>
                <label class="control-label c-font-uppercase c-font-bold">{% trans index %}</label>
                <div style="{% if values|length >= 9 %}overflow: scroll;{% endif %} max-height: 340px; overflow-x: hidden;">
                    {% for k, c in values %}
                        <div class="c-checkbox">
                            <input type="checkbox" id="{{ index }}{{ forloop.counter }}" class="c-check"
                                   name="{{ index }}"
                                   value="{% if k %}{{ k }}{% else %}not_provided{% endif %}"
                                    {% if conditions|key:index == k or conditions|key:index == "not_provided" %}
                                   checked {% endif %}>
                            <label for="{{ index }}{{ forloop.counter }}">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                <p>{% if k %}{{ k | slice:"14" }}{% else %}Not provided{% endif %} - {{ c }}</p>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
</form>