{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-4.0.3/select2.min.css' %}">
    <link href={% static "assets/plugins/rangeslider/nouislider.min.css" %} rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li class="chosen-wrapper">
                    <select data-placeholder="{% trans "Choose a country" %}..."
                            multiple class="chosen-select-country" class="search-filter">
                        {% for c in list_of_country %}
                            <option name="countries" value="{{ c.id }}" >{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="your-loc">{% trans "Your location" %}:
                    <span id="locate-me"><a href="#">{% trans "locate me" %}</a></span>
                </li>
                <li class="your-loc" id="your-location"></li>
                <li></li>
                <li><div style="width: 250px;" id="radius-rangefilter"></div></li>
                <li><div style="margin-left: 10px;"  id="radius-step-value"></div></li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->


            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">{% trans "Filters" %}</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-2">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>

            <div class="c-sidebar-menu collapse" id="sidebar-menu-2">
            <div id="left-sidebar-filters" class="fire-reload-filters c-shop-filter-search-1 list-unstyled">
            </div>
                <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right">
                    <div class="c-content-title-1 c-margin-t-20">
                        <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
                        <div class="c-line-left"></div>
                        <div id="price_index-range_slider" ></div>
                        <input class="input-number" id="price_index-input-number-r">
                        <input class="input-number" id="price_index-input-number-l">
                    </div>
                </div>
                {% block sidebar_range_filters %} {% endblock sidebar_range_filters %}
            </div>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
        </div>

        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline" id="sort">
                    <div class="c-filter">
                        <label class="control-label c-font-16">Sort&nbsp;By:</label>
                        <select id="sort" class="form-control c-square c-theme c-input">
                            <option value="-year_index">{% trans "Year built" %} ({% trans "New" %} > {% trans "Old" %})</option>
                            <option value="year_index" selected>{% trans "Year built" %} ({% trans "Old" %}>{% trans "New" %})</option>
                            <option value="price_index">{% trans "Price" %} ({% trans "Low" %} &gt; {% trans "High" %})</option>
                            <option value="-price_index" selected>{% trans "Price" %} ({% trans "High" %} &gt; {% trans "Low" %})</option>
                            <option value="-date_index">{% trans "Date" %} ({% trans "New" %} &gt; {% trans "Old" %})</option>
                            <option value="date_index" selected>{% trans "Date" %} ({% trans "Old" %} &gt; {% trans "New" %})</option>
                            <option value="" selected="selected">Default</option>
                        </select>
                    </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-margin-t-20"></div>
            <span id="search-list-result"  class="fire-reload-pagination"></span>
            <div class="c-margin-t-20"></div>
        </div>
    </div>
<!-- END: PAGE CONTAINER -->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'assets/plugins/rangeslider/nouislider.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/select2-4.0.3/select2.min.js' %}"></script>
    <script src="{% static 'assets/base/js/modules/search-page.js' %}" type="text/javascript"></script>
{% endblock extra_js %}