{% extends "search/search_wrapper.html" %}
{% load i18n %}

{% block sidebar_range_filters %}
    <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1 c-margin-t-20">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Years" %}</h3>
            <div class="c-line-left"></div>
            <div id="year_index-range_slider" ></div>
            <input class="input-number" id="year_index-input-number-r">
            <input class="input-number" id="year_index-input-number-l">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1 c-margin-t-20" id="colors-filters">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right" >
        <div class="c-content-title-1 c-margin-t-20">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Mileage" %}</h3>
            <div class="c-line-left"></div>
            <div id="mileage_index-range_slider" ></div>
            <input class="input-number" id="mileage_index-input-number-r">
            <input class="input-number" id="mileage_index-input-number-l">
        </div>
    </div>
{% endblock sidebar_range_filters %}

{% block extra_js %}
    {{ block.super }}
    <script>
        djangoContext.urls.ajaxSearch = "{% url 'vehicles:search-ajax' %}"

        document.addEventListener('DOMContentLoaded', function () {
            SearchPage({
                q_text: "{{ request.GET.q }}",
                url:"don't forget forward url namespace",
                rangeFiltersList: {
                    'price_index': [1, 300000],
                    'year_index': [1940, new Date().getFullYear()],
                    'mileage_index': [1, 200000]
                }
            });
        });
    </script>
{% endblock extra_js %}