{% load staticfiles %}
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
    <div class="c-navbar">
        <div class="container">
            <div class="c-navbar-wrapper clearfix">
                <!-- BEGIN: BRAND -->
                <div class="c-brand c-pull-left" style="margin:20px 10px">
                    <a href="/" class="c-logo" style="font-weight:bold; color:#7a7a7a; font-size: 30px; display:inline-block">
                        <img src="{% static 'assets/base/img/skruut60.jpg' %}" alt="JANGO" class="c-desktop-logo">
                        <img src="{% static 'assets/base/img/skruut40.jpg' %}" alt="JANGO" class="c-desktop-logo-inverse">
                        <img src="{% static 'assets/base/img/skruut40.jpg' %}" alt="JANGO" class="c-mobile-logo">
                        <span>SKRUUT</span>
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
                <form class="c-quick-search" action="#">
                    <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
                    <span class="c-theme-link">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        <li><a href="{% url 'vehicles:search' %}" class="c-link">vehicles</a></li>
                        <li class="c-active c-menu-type-classic"><a href="{% url 'realty:search' %}" class="c-link">realty</a></li>
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#login-form"
                                class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                                <i class="icon-user"></i> Sign In</a>
                        </li>
                    </ul>
                </nav>
                <!-- END: MEGA MENU -->
                <!-- END: HOR NAV -->
            </div>
        </div>
    </div>
</header>
