{% load i18n staticfiles customtags %}
<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 -->
<!-- BEGIN: HEADER 2 -->
<header class="c-layout-header c-layout-header-6 c-navbar-fluid" data-minimize-offset="80">
    <div class="c-topbar">
        <div class="container">
            <div class="c-brand">
                <a href="/" class="c-logo">
                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-desktop-logo" style="height: 60px">
                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-desktop-logo-inverse">
                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-mobile-logo">
                    <a class="c-font-uppercase c-font-bold" style="font-size: 30px;color: #7a7a7a">SKRUUT</a>
                </a>
            </div>
            <nav class="c-top-menu">
                <ul class="c-links c-theme-ul">
                    <li><a class="c-font-uppercase c-font-bold" href="{% url 'vehicles:search' %}">vehicles</a></li>
                    <li><a class="c-font-uppercase c-font-bold" href="{% url 'realty:search' %}">realty</a></li>
                    <li><a class="c-font-uppercase c-font-bold" href="/">jobs</a></li>
                    <li class="c-divider"></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url "users:detail" request.user.email %}" class="c-font-uppercase c-font-bold">My profile</a></li>
                    {% endif %}
                    <li>
                        {% get_url_first_arg as URL_FIRST_ARG %}
                        <a id="add_post" class="c-font-uppercase c-font-bold c-font-dark"
                            {% if URL_FIRST_ARG == 'vehicles' %}
                                href="{% url 'vehicles:add-vehicle' %}"
                            {% elif URL_FIRST_ARG == 'realty' %}
                                href="{% url 'realty:add-realty' %}"
                            {% else %}
                               data-toggle="modal" data-target="#choose-category"
                            {% endif %}>
                            <span class="glyphicon glyphicon-plus"></span> {% trans "Post Add" %}
                        </a>
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                            <a id="sign-out" href="{% url "account_logout" %}" data-toggle="modal" data-target="#login-form"
                               class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'Sign out' %}</a>
                        {% else %}
                            <a id="sign-in" href="javascript:;" data-toggle="modal" data-target="#login-form"
                               class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'Sign In' %}</a>
                        {% endif %}
                    </li>
                </ul>
                <form id="lang-form" class="hidden" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="language">
                </form>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <ul class="c-ext c-theme-ul">
                    <li class="c-lang dropdown c-last">
                        <a id="current-lang" href="#">{{ LANGUAGE_CODE }}</a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <li class="change-lang" data-lang-code={{ language.code }}>
                                        <a href="#">{{ language.name_local }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="c-navbar">
        <div class="container">
            <div class="c-navbar-wrapper clearfix">
                <form class="c-quick-search" action="{% url 'vehicles:search' %}" name="search_form">
                    <input type="text" name="q" placeholder="{% trans "Type to search" %}..." value=""
                           class="form-control fire-reload" autocomplete="off">
                </form>
                {% if '/search/' in request.path %}
                    <a id="subscribe-btn" href="javascript:;"
                       class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans "subscribe to the notification" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 -->

<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">{% trans "Password Recovery" %}</h3>
                <p>{% trans "To recover your password please fill in your email address" %}</p>
                <form>
                    <div class="form-group">
                        <label for="forget-email" class="hide">{% trans "Email" %}</label>
                        <input type="email" class="form-control input-lg c-square" id="forget-email"
                               placeholder="Email"></div>
                    <div class="form-group">
                        <button class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login"
                                type="submit">{% trans "Submit" %}</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form"
                           data-dismiss="modal">{% trans "Back To Login" %}</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">{% trans "Don't Have An Account Yet ?" %}</span>
                <a class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup"
                   href="javascript:;" data-toggle="modal" data-target="#signup-form"
                   data-dismiss="modal">{% trans "Signup" %}!</a>

            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->

{% include "account/modal_signup.html" %}
{% include "account/modal_login.html" %}

<div class="modal fade" id="choose-category" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus"></span> POST ADD</h4>
            </div>
            <div class="modal-body">
                <div>
                    <a href="{% url 'vehicles:add-vehicle' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">ADD VEHICLE</a>
                    <br>
                    <a href="{% url 'realty:add-realty' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">ADD REALTY</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
