{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <!-- BEGIN: CONTENT/SHOPS/SHOP-LOGIN-REGISTER-1 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-shop-login-register-1">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{% trans "Sign In" %}</h2>
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                            <div class="socialaccount_ballot">

                                <ul class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                </ul>

                                <div class="login-or">{% trans 'or' %}</div>

                            </div>

                            {% include "socialaccount/snippets/login_extra.html" %}

                        {% endif %}
                        <div class="panel panel-default c-panel">
                            <div class="panel-body c-panel-body">
                                <form class="c-form-login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    <div class="form-group has-feedback">
                                        <input name="login" value="{{ form.login.value|default_if_none:"" }}" type="text"
                                               class="form-control c-square c-theme input-lg"
                                               placeholder="E-mail address">
                                        <span class="glyphicon glyphicon-user form-control-feedback c-font-grey"></span>
                                        {{ form.login.errors }}
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input name="password" {{ form.password.value }} type="password"
                                               class="form-control c-square c-theme input-lg" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback c-font-grey"></span>
                                        {{ form.password.errors }}
                                    </div>
                                    <div class="row c-margin-t-40">
                                        <div class="col-xs-8">
                                            <div class="c-checkbox">
                                                <input {% if form.remember.value %} checked{% endif %} name="remember"
                                                                                    type="checkbox" id="checkbox1-77"
                                                                                    class="c-check">
                                                <label for="checkbox1-77">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Remember me </label>
                                            </div>
                                            &nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="button secondaryAction"
                                                                                          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                        </div>
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <div class="col-xs-4">
                                            <button type="submit"
                                                    class="pull-right btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans "Sign In" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="list-unstyled c-bs-grid-small-space">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                                            <a class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-twitter">
                                                                <i class="fa fa-twitter"></i> Sign in with Twitter </a>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                                            <a class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-facebook">
                                                                <i class="fa fa-facebook"></i> Sign in with Facebook </a>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                                            <a class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-google">
                                                                <i class="fa fa-google-plus"></i> Sign in with Google </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/SHOPS/SHOP-LOGIN-REGISTER-1 -->


{% endblock %}

