{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
        <!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
        <nav class="c-layout-quick-sidebar">
            <div class="c-header">
                <button type="button" class="c-link c-close">
                    <i class="icon-login"></i>
                </button>
            </div>
        </nav>
        <!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/STATS/COUNTER-1 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-content-counter-1 c-opt-1">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">We never stop improving</h3>
                            <div class="c-line-center"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">{{ vehicles_count }}</div>
                                <h4 class="c-title c-first c-font-uppercase c-font-bold"><a href="{% url 'vehicles:search' %}">{% trans "Vehicles" %}</a></h4>
                            </div>
                            <div class="col-md-4">
                                <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">{{ realty_count }}</div>
                                <h4 class="c-title c-font-uppercase c-font-bold"><a href="{% url 'realty:search' %}">{% trans "Realty properties" %}</a></h4>
                            </div>
                            <div class="col-md-4">
                                <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">{{ total_count }}</div>
                                <h4 class="c-title c-font-uppercase c-font-bold">{% trans "Total" %}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/STATS/COUNTER-1 -->

                        <!-- BEGIN: CONTENT/TILES/TILE-3 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
                    <div class="c-content-title-1 wow animate fadeInDown">
                        <h3 class="c-font-uppercase c-center c-font-bold">Top Sellers</h3>
                        <div class="c-line-center"></div>
                    </div>
                    <div class="row wow animate fadeInUp">
                        <div class="col-md-6">
                            <div class="c-content-tile-1 c-bg-green">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-right c-arrow-green c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/79.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-1.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-1.jpg" %})"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-right c-arrow-green c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/79.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-1.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-1.jpg" %})"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-content-tile-1 c-bg-brown-2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-right c-arrow-brown-2 c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/90.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-2.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-2.jpg" %})"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-right c-arrow-brown-2 c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/90.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-2.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-2.jpg" %})"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-content-tile-1 c-bg-red-2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-left c-arrow-red-2 c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/41.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-3.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-3.jpg" %})"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-left c-arrow-red-2 c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/41.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-3.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-3.jpg" %})"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-content-tile-1 c-bg-blue-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-arrow-left c-arrow-red-2 c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="#">
                                                        <i class="icon-link"></i>
                                                    </a>
{#                                                    <a href="/static/assets/base/img/content/stock/41.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-4">#}
                                                    <a href={% static "assets/base/img/cars/home-categorie-3.jpg" %} data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="c-image c-overlay-object" data-height="height" style="background-image: url({% static "assets/base/img/cars/home-categorie-3.jpg" %})"></div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="c-tile-content c-content-v-center" data-height="height" >
                                            <div class="c-wrapper">
                                                <div class="c-body c-center">
                                                    <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold c-font-white"> Find out </h3>
                                                    <p class="c-tile-body c-font-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, nonummy nibh euismod tincidunt.</p>
                                                    <a href="#" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/TILES/TILE-3 -->
            <!-- END: PAGE CONTENT -->
{% endblock content %}