{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock title %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ object.username }}</h2>
                <h3>{{ object.email }}</h3>
                {% if object.name %}
                    <p>{{ object.name }}</p>
                {% endif %}
            </div>
        </div>

        <div>
            <h3>{% trans "Your subscriptions:" %}</h3>
            {% if subscriptions %}
                <div id="subscr-list">
                    {% for id, filters in subscriptions.iteritems %}
                        <label>
                            <input type="checkbox" name="subscr" data-id="{{ id }}">
                            {% for key, val in filters.iteritems %}
                                <span class="marg-r">{{ key }}: {{ val }};</span>
                            {% endfor %}
                        </label>
                    {% endfor %}
                    <button id="del-subscr" class="btn btn-default">{% trans "Delete selected subscriptions" %}</button>
                </div>
            {% endif %}
            <div id="no-subscr" style="{% if subscriptions %}display:none;{% endif %}">
                {% trans "No subscriptions" %}
            </div>

        </div>

        {% if object == request.user %}
        <!-- Action buttons -->
            <div class="row">
                <div class="col-sm-12 ">
                {#    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>#}
                {#    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>#}
                <!-- Your Stuff: Custom user template urls -->
                </div>
            </div>
        <!-- End Action buttons -->
        {% endif %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static "assets/base/js/modules/user-account.js" %}"></script>
{% endblock extra_js %}

