{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                realty
                            </h3>
                            <div class="c-line-center c-theme-bg"></div>
                        </div>
                        <form class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.property_type.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ realty_form.property_type }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.property_type.errors }}</div>
                            <div id="div_property_type_type" class="form-group" style="display:none;">
                                <div class="col-md-6 col-md-offset-4"> {{ realty_form.property_type_type }}</div>
                                <div class="col-md-6 col-md-offset-4">   {{ realty_form.property_type_type.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.deal.label }}
                                </label>
                                <div class="col-md-6">
                                    {% for radio in realty_form.deal %}
                                        <div class="col-md-3 c-radio">
                                            {{ radio.tag }}
                                            <label for="id_deal_{{ forloop.counter0 }}">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{ radio.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                {{ realty_form.deal.errors }}
                            </div>
                            <div id="div_rooms" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.rooms.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.rooms }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.rooms.errors }} </div>
                            <div id="div_area" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.area.label }} (m<sup>2</sup>)
                                </label>
                                <div class="col-md-6"> {{ realty_form.area }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.area.errors }}</div>
                            <div id="div_land_area" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.land_area.label }} (ares)
                                </label>
                                <div class="col-md-6"> {{ realty_form.land_area }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.land_area.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.price.label }} (&#8364)
                                </label>
                                <div class="col-md-6"> {{ realty_form.price }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.price.errors }}</div>
                            <div id="div_energy_class" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.energy_class.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.energy_class }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.energy_class.errors }}</div>
                            <div id="div_termal_protection_class" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.termal_protection_class.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.termal_protection_class }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.termal_protection_class.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.country.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ realty_form.country }}   </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.country.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.city.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ realty_form.city }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.city.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.address.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.address }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.address.errors }}</div>
                            <div id="div_year_build" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.year_built.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.year_built }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.year_built.errors }}</div>
                            <div id="div_new_building" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.new_building.label }}
                                </label>
                                <div class="col-md-6 c-checkbox c-toggle-hide"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class="col-md-6">
                                        {{ realty_form.new_building }}
                                        <label for="checkbox1-77">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.url.errors }}</div>
                            <div id="div_floor" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.floor.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.floor }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.floor.errors }}</div>
                            <div id="div_total_floors" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.total_floors.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.total_floors }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.total_floors.errors }}</div>
                            <div id="div_bathroom" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.bathroom.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.bathroom }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.bathroom.errors }}</div>
                            <div id="div_garden" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.garden.label }} (ares)
                                </label>
                                <div class="col-md-6"> {{ realty_form.garden }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.garden.errors }}</div>
                            <div id="div_terrace" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.terrace.label }} (m<sup>2</sup>)
                                </label>
                                <div class="col-md-6"> {{ realty_form.terrace }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.terrace.errors }}</div>
                            <div id="div_balcony" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.balcony.label }} (m<sup>2</sup>)
                                </label>
                                <div class="col-md-6"> {{ realty_form.balcony }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.balcony.errors }}</div>
                            <div id="div_garage" class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.garage.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.garage }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.garage.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.phones.label }} <span class="red"><sup>*</sup></span>
                                </label>
                                <div class="col-md-6"> {{ realty_form.phones }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.phones.errors }}</div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    {{ realty_form.description.label }}
                                </label>
                                <div class="col-md-6"> {{ realty_form.description }}</div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">  {{ realty_form.description.errors }}</div>
                            <div class="row">
                                {{ formset.management_form }}
                                <div class="col-md-6 col-md-offset-5">
                                    <label class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                                           id="input_label">Add photo</label>
                                </div>
                                {% for form in formset %}
                                    <div id="form_{{ forloop.counter }}" class="col-md-6 col-md-offset-4"
                                         style="display: none">
                                        {{ form }}
                                    </div>
                                {% endfor %}

                                <div class="col-md-6 col-md-offset-4">
                                    <output id="list"></output>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-5">
                                    <button type="submit"
                                            class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                        Submit
                                    </button>
                                    <a href="/"
                                       class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block extra_css %}
        <link rel="stylesheet" media="all" type="text/css"
              href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"/>
        <style>
            .thumb {
                height: 150px;
                width: auto;
                border: 1px solid #000;
                margin: 10px 5px 0 0;
            }
            .red {
                color: red;
            }

            .c-checkbox label > .box, .c-checkbox label > .check {
                z-index: 1;
            }
        </style>
    {% endblock extra_css %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script>
        $("#id_city").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/realty/get_city/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_country: $("#id_country").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });
        var ids = ['#div_rooms', '#div_area', '#div_land_area', '#div_energy_class', '#div_termal_protection_class',
            '#div_year_build', '#div_new_building', '#div_floor', '#div_total_floors', '#div_bathroom', '#div_garden',
            '#div_terrace', '#div_balcony', '#div_garage'];
        $(document).ready(function () {
            if ($("#id_property_type").val()) {
                $("#div_property_type_type").show();
            }
        });
        $("#id_property_type").on('change', function () {
                    $("#id_property_type_type").val(null)
                    var property_type = $("#id_property_type").val();
                    if (property_type) {
                        $("#id_property_type_type option").hide();
                        var id = 'PropertyTypeType' + $("#id_property_type").val();
                        var options = $("#id_property_type_type option[name=" + id + "]");
                        if (options.val() != undefined) {
                            options.show();
                            $("#div_property_type_type").show();
                        }
                        else {
                            $("#div_property_type_type").hide()
                        }
                        var div_array = [];
                        if (property_type == 1) {
                            div_array = [7];
                        }
                        if (property_type == 2) {
                            div_array = [2, 10];
                        }
                        if (property_type == 5) {
                            div_array = [0, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13];
                        }
                        if (property_type == 6 || property_type == 7) {
                            div_array = [0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13];
                        }
                        for (var i = 0, j = 0; i < ids.length; i++) {
                            if (i == div_array[j]) {
                                $(ids[i]).hide();
                                j++;
                            }
                            else {
                                $(ids[i]).show();
                            }
                        }
                    }
                    else {
                        $("#div_property_type_type").hide();
                    }
                }
        )
    </script>
    <script type="text/javascript">
        var max_photos = 30;
        var j = 0;
        function Delete(id, counter) {
            del_image = document.getElementById("id_realtyimage_set-" + counter + "-image");
            del_image.value = "";
            thumb = document.getElementById(id);
            thumb.style.display = "none";
        }
        function hide() {
            label = document.getElementById("input_label");
            label.htmlFor = "id_realtyimage_set-" + j + "-image";
            j++;
        }

        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }


                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        var span = document.createElement('span');
                        list = document.getElementById('list');
                        span.innerHTML = ['<img class="thumb" id ="thumb_', list.childElementCount, '" onclick="Delete(id,', list.childElementCount, ')" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        list.insertBefore(span, null);
                    };
                })(f);

                // Read in the image file as a data URL.
                bingo = reader.readAsDataURL(f);
            }
        }
        hide()
        for (var i = 0; i < max_photos; i++) {
            document.getElementById('id_realtyimage_set-' + i + '-image').addEventListener('change', handleFileSelect, false);
        }
    </script>
{% endblock extra_js %}