{% load pagination_tags staticfiles i18n thumbnail %}
{% autopaginate object_list 10 %}
{% for result in object_list %}
    {% with i=result.object %}
        <div class="row c-margin-b-40">
            <div class="c-content-product-2 c-bg-white">
                <div class="col-md-4">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a  class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                    href="{% url "realty:details" i.id %}">Explore</a>
                            </div>
                        </div>
                        {% thumbnail i.realtyimage_set.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({{ im.url }});"></div>
                        {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-size:unset;
                                        background-image: url({% static "assets/base/img/home.png"%});"></div>
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-info-list">
                        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                            <a class="c-theme-link" href="{% url "realty:details" i.id %}">
                                {% if i.deal == 1 %} {% trans "Sale" %} {% else %} {% trans "Rent" %} {% endif %}
                                {% if i.property_type_type %}
                                    {{ i.property_type_type.name }}
                                {% else %}
                                    {{ i.property_type.name }}
                                {% endif %}
                            </a>
                        </h3>
                        <p class="c-desc c-font-16 c-font-thin">
                            {{ i.country.name }} {% if i.city_id %}, {{ i.city.name }} {% endif %}
                        </p>
                        {% if i.energy_class %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Energy class" %} - {{ i.energy_class }}</p>
                        {% endif %}
                        {% if i.year_built %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Year built" %} - {{ i.year_built }}</p>
                        {% endif %}
                        {% if i.price %}
                            <p class="c-price c-font-26 c-font-thin">{{ i.price }} &#8364;
                                {% for p in i.price_history %}
                                    <span class="c-font-26 c-font-line-through c-font-red">&#8364;{{ p }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% empty %}<p>No results found.</p>{% endfor %}
{#{% paginate %}#}

