{% extends "base.html" %}
{% load staticfiles i18n thumbnail %}
{% block title %}{% if object.property_type_type.name %}{{ object.property_type_type.name }}{% else %}
    {{ object.property_type.name }}{% endif %}for {{ object.get_deal_display }} in {{ object.country }},
    {{ object.city }}
{% endblock title %}
{% block extra_css %}
    <meta property="fb:app_id" content="846209455390520"/>
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{% url "realty:details" pk=object.id %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="






            {% if object.property_type_type.name %}{{ object.property_type_type.name }}{% else %}{{ object.property_type.name }}{% endif %} for {{ object.get_deal_display }} in {{ object.country }},{{ object.city }}"/>
    <meta property="og:image" content="http://skruut.artel7.com/media/{{ object.realtyimage_set.first.image }}"/>
    <meta property="og:description" content="{{ object.description|safe }}"/>
{% endblock extra_css %}
{% block content %}
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
        <div class="container">
            <div class="c-shop-product-details-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-product-gallery">
                            <div style="height: 400px" class="c-product-gallery-content">
                                {% for image in  object.realtyimage_set.all %}
                                    <div style="height: 400px" class="c-zoom">
                                        <img src="{{ image.image.url }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row c-product-gallery-thumbnail">
                                {% for image in  object.realtyimage_set.all %}
                                    {% thumbnail image.image "260x230" crop="center" as im %}
                                        <div class="col-xs-2 c-product-thumb">
                                            <img src="{{ im.url }}">
                                        </div>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">
                                    {% if object.property_type_type.name %}
                                        <span id="property-type-type">{{ object.property_type_type.name }} </span>
                                    {% else %}
                                        <span id="property-type-type">{{ object.property_type.name }} </span>
                                    {% endif %}
                                    <span id="property-deal">for {{ object.get_deal_display }}</span>
                                </h3>
                                <div class="c-line-left"></div>
                                <div
                                        class="fb-like"
                                        data-share="true"
                                        data-width="450"
                                        data-show-faces="true">
                                </div>
                            </div>
                            <div class="c-product-badge">
                                {% if object.new_building %}
                                    <div class="c-product-new">New</div>
                                {% endif %}
                            </div>
                            <div class="c-product-review"></div>
                            {% if object.price %}
                                <div class="c-product-price">{{ object.price }} &#8364;</div>
                            {% endif %}
                            <div class="c-product-short-desc">{{ object.description|safe|linebreaks }}</div>
                            <div class="row c-product-variant">
                                {% if object.rooms %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Rooms" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.rooms }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.area %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Area" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.area }} m<sup>2</sup></p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.land_area %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Land area" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.land_area }} ares</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.energy_class %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Energy class" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.energy_class }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.termal_protection_class %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Termal protection class" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.termal_protection_class }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.country %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Country" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.country.name }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.city %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "City" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.city.name }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.addres %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Address" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.address }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.year_built %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Year built" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.year_built }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.floor %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Floor" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.floor }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.total_floors %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Total floors" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.total_floors }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.bathroom %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Bathroom" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.bathroom }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.garden %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Garden" %}:</p>
                                            {% if object.garden != 1 %}
                                                <p class="c-desc c-font-16 c-font-thin">{{ object.garden }}
                                                    ares
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.terrace %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Terrace" %}:</p>
                                            {% if object.terrace != 1 %}
                                                <p class="c-desc c-font-16 c-font-thin">
                                                    {{ object.terrace }} m<sup>2</sup>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.balcony %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Balcony" %}:</p>
                                            {% if object.balcony != 1 %}
                                                <p class="c-desc c-font-16 c-font-thin">{{ object.balcony }}
                                                    m<sup>2</sup></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.garage %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Garage" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.garage }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if object.seller %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <div class="c-product">
                                            <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Seller" %}:</p>
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.seller }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                    <div class="c-product">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Phones" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{% for phone in object.phones %}
                                            <span>{{ phone }}{% if not forloop.last %},{% endif %}</span>
                                        {% endfor %}</p>
                                    </div>
                                </div>
                                <div style="float: right">
                                    {% if object.url %}
                                        <span class="label label-default">
                                            <a style="color: white;" target="_blank"
                                               href="{{ object.url }}">{{ object.domain }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <button id="add-to-notification"
                                                class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase">
                                            Add to Notification
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
    <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
        <div class="container">
            <div class="c-content-title-4">
                <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                    <span class="c-bg-white">Most Popular</span>
                </h3>
            </div>
            <div class="row">
                <div data-slider="owl" data-items="4" data-auto-play="8000">
                    <div class="owl-carousel owl-theme c-theme owl-small-space">
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        Sale
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/18.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Samsung Galaxy Note 4</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/27.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Samsung Galaxy S4</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/21.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 5</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        Sale
                                    </div>
                                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        New
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/22.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">HTC</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/20.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 6</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red-2 c-font-uppercase c-font-white c-padding-10 c-font-13 c-font-bold">
                                        Hot
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/24.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 6+</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '846209455390520',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        djangoContext.realtyDetailSubscriptionData = {
            deal: {{ object.deal }},
            property_type: {{ object.property_type_id }},
            countries: {{ object.country_id }},
            city: {{ object.city_id }},
        }
        if ('{{ object.property_type_type_id }}' != 'None') {
            djangoContext.realtyDetailSubscriptionData.property_type_type = {{ object.property_type_type_id }};
        }
    </script>
    <script type="text/javascript" src="{% static 'assets/base/js/modules/realty_detail.js' %}"></script>
{% endblock extra_js %}