{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-4.0.3/select2.min.css' %}">
    <link href={% static "assets/plugins/rangeslider/nouislider.min.css" %} rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li class="chosen-wrapper">
                    <select data-placeholder="{% trans "Choose a country" %}..."
                            multiple class="chosen-select-country" class="search-filter">
                        {% for c in list_of_country %}
                            <option name="countries" value="{{ c.id }}" >{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="your-loc">{% trans "Your location" %}:
                    <span id="locate-me"><a href="#">{% trans "locate me" %}</a></span>
                </li>
                <li class="your-loc" id="your-location"></li>
                <li></li>
                <li><div style="width: 250px;" id="radius-rangefilter"></div></li>
                <li><div style="margin-left: 10px;"  id="radius-step-value"></div></li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->


            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">{% trans "Filters" %}</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-2">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>

            <div class="c-sidebar-menu collapse" id="sidebar-menu-2">
            <lu class="fire-reload-filters" id="left-sidebar-filters"></lu>
                <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right">
                    <div class="c-content-title-1 c-margin-t-20">
                        <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
                        <div class="c-line-left"></div>
                        <div id="price_index-range_slider" ></div>
                        <input class="input-number" id="price_index-input-number-r">
                        <input class="input-number" id="price_index-input-number-l">
                    </div>
                </div>
                <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right">
                    <div class="c-content-title-1 c-margin-t-20">
                        <h3 class="c-font-uppercase c-font-bold">{% trans "Years" %}</h3>
                        <div class="c-line-left"></div>
                        <div id="year_index-range_slider" ></div>
                        <input class="input-number" id="year_index-input-number-r">
                        <input class="input-number" id="year_index-input-number-l">
                    </div>
                </div>
                {% block sidebar_range_filters %} {% endblock sidebar_range_filters %}
            </div>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
        </div>

        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline">
                <div class="c-filter">
                    <label class="control-label c-font-16">{% trans "Show" %}:</label>
                    <select class="form-control c-square c-theme c-input">
                        <option value="#?limit=24" selected="selected">24</option>
                        <option value="#?limit=25">25</option>
                        <option value="#?limit=50">50</option>
                        <option value="#?limit=75">75</option>
                        <option value="#?limit=100" selected>100</option>
                    </select>
                </div>
                <div class="c-filter">
                    <label class="control-label c-font-16">Sort&nbsp;By:</label>
                    <select class="form-control c-square c-theme c-input">
                        <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                        <option value="#?sort=pd.name&amp;order=ASC">{% trans "Name" %} (A - Z)</option>
                        <option value="#?sort=pd.name&amp;order=DESC">{% trans "Name" %} (Z - A)</option>
                        <option value="#?sort=p.price&amp;order=ASC">{% trans "Price" %} ({% trans "Low" %} &gt; {% trans "High" %})</option>
                        <option value="#?sort=p.price&amp;order=DESC" selected>{% trans "Price" %} ({% trans "High" %} &gt; {% trans "Low" %})</option>
                        <option value="#?sort=rating&amp;order=DESC">{% trans "Rating" %} ({% trans "Highest" %})</option>
                        <option value="#?sort=rating&amp;order=ASC">{% trans "Rating" %} ({% trans "Lowest" %})</option>
                        <option value="#?sort=p.model&amp;order=ASC">{% trans "Model" %} (A - Z)</option>
                        <option value="#?sort=p.model&amp;order=DESC">{% trans "Model" %} (Z - A)</option>
                    </select>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-margin-t-20"></div>
            <span id="search-list-result"  class="fire-reload-pagination"></span>
            <div class="c-margin-t-20"></div>
        </div>
    </div>
<!-- END: PAGE CONTAINER -->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'assets/plugins/rangeslider/nouislider.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/select2-4.0.3/select2.min.js' %}"></script>
    <script src="{% static 'assets/base/js/modules/search-page.js' %}" type="text/javascript"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var path = window.location.pathname;
            if (path.indexOf('/vehicles/') != -1) {
                var model = 'vehicles.Car'
            } else if (path.indexOf('/realty/') != -1) {
                var model = 'realty.Realty'
            }
            SearchPage({
                model: model,
                q_text: "{{ request.GET.q }}",
                url:"don't forget forward url namespace"
            });
        });
    </script>
{% endblock extra_js %}